.index {
    display: flex;
    padding: 20px;

    text-decoration: none;
    color: red;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: rgba(209, 209, 209, 0.7);
    box-sizing: border-box;
    width: 100px;
    height: 10px;
    align-items: center;
    justify-content: center;
    border: 5px solid red;
    border-radius: 40%;
}

.index:hover {
    background-color: rgba(175, 175, 175, 0.7);
}

.div {
    display: flex;
    background-color: red;
    width: 200px;
    height: 100px;
    border: 5px solid black;

    align-items: center;
    justify-content: center;
}

.div2::before {
    content: '';
    display: block;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    background-image: url(../images/icons.svg#icon-antenna);
}